
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Up2You Table personnalisée</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<!-- Add angularUI stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/mobile-angular-ui-hover.min.css">
		<link rel="stylesheet" type="text/css" href="css/mobile-angular-ui-base.min.css">
		<link rel="stylesheet" type="text/css" href="css/mobile-angular-ui-desktop.min.css">


		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body onLoad="onLoad()" ng-app="app">

		<div id="interface" ng-mouseup="dataMenu.stop()"  ng-controller="DataMenuController as dataMenu">
			<div class="app">
			  <div class="navbar navbar-app navbar-absolute-top">
			      <div class="navbar-brand navbar-brand-center">
			        <span>Up2You Table</span>
			      </div>
			  </div>

			   <div class="navbar navbar-app navbar-absolute-bottom">
			   	    <div class="btn-group nav-tabs justified">
			            <a  href="#/route1" active-class="active" class="btn btn-navbar btn-icon-only"><i class="fa fa-shopping-cart fa-navbar"></i></a>
			      	    <a ng-click="toggle('mainSidebar')" active-class="active" href="#/route2" class="btn btn-navbar btn-icon-only"><i class="fa fa-list fa-navbar"></i></a>
			    	</div>
			    </div>

			  <div id="container" class="app-body">
				<div ng-controller="panelController as panel" class="sidebar sidebar-right hide" toggleable inactive-class="hide" id="mainSidebar">

				  <div class="scrollable">
				    <div class="scrollable-content">
				      <div bubble target="mainSidebar">
				        <a ng-class="{ active:panel.isSelected(1) }" ng-click="panel.selectTab(1)" class="list-group-item" href="#/"><i class="fa fa-chevron-left"></i>  Formes </a>
				        <ul ng-show="panel.isSelected(1)" id="FormesItems">
								<li class="list-group-item" ng-repeat="forme in dataMenu.formes" ng-click="toggle('mainSidebar', panel.checkToggle()); dataMenu.selectElement(forme.reference); ">{{forme.name}}</li>
						</ul>
				        <a ng-click="panel.selectTab(2)"  ng-class="{ active:panel.isSelected(2) }" class="list-group-item" href="#/"><i class="fa fa-chevron-left"></i>  Dimensions </a>
				        <ul ng-show="panel.isSelected(2)" id="DimensionsItems">
							<li class="list-group-item" ng-repeat="dimension in dataMenu.dimensions"></li>
						</ul>
				        <a ng-click="panel.selectTab(3)" ng-class="{ active:panel.isSelected(3) }" class="list-group-item" href="#/"><i class="fa fa-chevron-left"></i>  Coloris du plan </a>
				        <ul ng-show="panel.isSelected(3)" id="ColorisItems">
								<li ng-click="toggle('mainSidebar', panel.checkToggle()); dataMenu.selectColori(colori.url)" ng-repeat="colori in dataMenu.coloris">
									<img ng-src="{{colori.url}}" width="50px" alt="test1"/>
								</li>
							</ul>
						<a ng-click="panel.selectTab(4)" ng-class="{ active:panel.isSelected(4) }" class="list-group-item" href="#/"><i class="fa fa-chevron-left"></i> Pieds </a>
				        <ul ng-show="panel.isSelected(4)" id="PiedsItems">
								<li ng-click="toggle('mainSidebar', panel.checkToggle()); dataMenu.selectElement(pied.reference)" class="list-group-item" ng-repeat="pied in dataMenu.pieds">{{pied.name}}</li>
							</ul>
						<a ng-click="panel.selectTab(5)" ng-class="{ active:panel.isSelected(5) }" class="list-group-item" href="#/"><i class="fa fa-chevron-left"></i> Cameras </a>
				        <ul ng-show="panel.isSelected(5)" id="CamerasItems">
								<li class="list-group-item" ng-click="toggle('mainSidebar', panel.checkToggle()); dataMenu.selectCamera(camera.nomCamera)" ng-repeat="camera in dataMenu.cameras">{{camera.label}}</li>
							</ul>
				      </div>
				    </div>
				  </div>
				</div>
			  </div>
				<div ng-show="dataMenu.showControls" ng-click="dataMenu.left()" class="buttons" id="left">L</div>
				<div ng-show="dataMenu.showControls" ng-click="dataMenu.right()" class="buttons" id="right">R</div>
			</div>

		</div>




		<script type="text/javascript">
		   if (document.URL.indexOf('file:///C:/') === -1 && document.URL.indexOf('http://') === -1 && document.URL.indexOf('https://') === -1) {
		        document.write("<script src='cordova.js'><\/script>");
		        document.write("<script src='Insomnia.js'><\/script>");
		    
		    }
		</script>
		<script type="application/javascript" src="js/libs/three.min.js"></script>
		<script type="application/javascript" src="js/libs/StereoEffect.js"></script>
		<script type="application/javascript" src="js/libs/DeviceOrientationControls.js"></script>
		<script type="application/javascript" src="js/libs/stats.min.js"></script>
		<script type="application/javascript" src="js/libs/jquery.min.js"></script>
		<script type="application/javascript" src="js/libs/angular.min.js"></script>
		<script type="application/javascript" src="js/libs/mobile-angular-ui.min.js"></script>
		<script type="application/javascript" src="js/libs/Detector.js"></script>
		<script type="application/javascript" src="js/libs/OrbitControls.js"></script>
		<script type="application/javascript" src="js/libs/AssimpJSONLoader.js"></script>
		<script type="application/javascript" src="js/libs/OBJLoader.js"></script>
		
		<script type="application/javascript" src="js/angular.js"></script>
		<script type="application/javascript" src="js/app.js"></script>

		

	</body>
</html>
